.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem;
}

.header {
  width: 100%;
  background-color: #7c7c7c;
  height: 2.5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1rem;
}

.headerLogo {
  height: 1.5rem;
}

.headerLogo:hover {
  background-color: white;
  border: 1px solid black;
  cursor: pointer;
}

.headerLink {
  color: white;
  padding-left: 2rem;
}

.headerLink:hover {
  color: rgb(255, 170, 170);
  text-decoration: underline;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3.25rem;
}

.title,
.subtitle,
.description {
  text-align: center;
}

.subtitle {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  color: #686868;
}

.paragraph,
.lastParagraph {
  line-height: 1;
  font-size: 1.5rem;
  color: #919191;
  max-width: 900px;
  text-align: center;
}

.lastParagraph {
  padding-top: 1rem;
}

.twitterLogo,
.redditLogo {
  padding-left: 3px;
  padding-right: 3px;
  height: 25px;
}

.twitterLogo {
  padding-top: 8px;
}

.redditLogo {
  padding-top: 5px;
}

.link {
  color: salmon;
}

.link:hover {
  text-decoration: underline;
  color: rgb(154, 78, 70);
}

.exampleVideo {
  width: 100%;
  border: 1px solid lightgrey;
  margin-top: 1rem;
  max-width: 80rem;
}
